In [1]:
import pandas as pd

# Creating a sample DataFrame with missing values
data = {'A': [1, 2, None, 4], 'B': [None, 2, 3, 4], 'C': [1, None, None, 4]}
df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)

# Check for missing values
print("\nMissing values (True indicates NaN):")
print(df.isnull())

# Count missing values per column
print("\nCount of missing values per column:")
print(df.isnull().sum())

Original DataFrame:
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  NaN
3  4.0  4.0  4.0

Missing values (True indicates NaN):
       A      B      C
0  False   True  False
1  False  False   True
2   True  False   True
3  False  False  False

Count of missing values per column:
A    1
B    1
C    2
dtype: int64

In [3]:
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  NaN
3  4.0  4.0  4.0

In [2]:
# Dropping rows with any NaN values
df_cleaned = df.dropna()
print("\nDataFrame after dropping rows with NaN:")
df_cleaned

DataFrame after dropping rows with NaN:

     A    B    C
3  4.0  4.0  4.0

In [4]:
# Filling missing values with 0
df_filled = df.fillna(0)
print("\nDataFrame after filling NaN with 0:")
df_filled

DataFrame after filling NaN with 0:

     A    B    C
0  1.0  0.0  1.0
1  2.0  2.0  0.0
2  0.0  3.0  0.0
3  4.0  4.0  4.0

In [6]:
# Filling with mean
df['A'] = df['A'].fillna(df['A'].mean())
print("\nDataFrame after filling NaN in column 'A' with mean:")
df

DataFrame after filling NaN in column 'A' with mean:

          A    B    C
0  1.000000  NaN  1.0
1  2.000000  2.0  NaN
2  2.333333  3.0  NaN
3  4.000000  4.0  4.0