In [1]:
import numpy as np
import pandas as pd

# Set random seed for reproducibility 
np.random.seed(42)

# Generate random data
n_samples = 1000
data = {
    'id': range(n_samples),
    'value_1': np.random.normal(100, 15, n_samples),
    'value_2': np.random.uniform(0, 50, n_samples),
    'category': np.random.choice(['A', 'B', 'C'], n_samples),
    'date': pd.date_range(start='2023-01-01', periods=n_samples)
}

# Create DataFrame
df = pd.DataFrame(data)
df.head()

   id     value_1    value_2 category       date
0   0  107.450712   8.374129        B 2023-01-01
1   1   97.926035   5.228392        C 2023-01-02
2   2  109.715328  31.821512        A 2023-01-03
3   3  122.845448  35.323786        B 2023-01-04
4   4   96.487699   1.579307        C 2023-01-05